.btn, button
	position: relative
	display: inline-flex
	align-items: center
	min-width: 200px
	padding: 24px 32px
	border-radius: 0
	border: 2px solid $aqua-300
	background-color: $white
	color: $aqua-300
	font-family: inherit
	font-size: 15px
	font-weight: $w-bold
	line-height: 1
	text-align: center
	text-transform: lowercase
	white-space: nowrap
	outline: none!important
	user-select: none
	transition: $trs
	&:hover
		color: inherit