@import '../helpers/helpers'

/* ==========================================================================
	 Base customize for forms
	 ========================================================================== */
::placeholder
	color: #777

input, textarea
	outline: none
	font-family: $userfont

button:disabled
	pointer-events: none
	opacity: 0.5

.form
	position: relative
	&-label
		margin-bottom: 12px
		color: $black
		font-size: 16px
		cursor: pointer
		> sup
			position: relative
			top: -2px
			color: $aqua-300
			font-size: 100%
	&-control,
	&-textarea
		appearance: none
		display: block
		width: 100%
		margin-bottom: 24px
		color: $black
		font-size: 18px
		font-weight: $w-regular
		border-radius: 16px 0 16px 0
		border: 1px solid $border
		background-color: $trsp
		background-clip: padding-box
		color: $black
		transition: .3s ease-in-out
		+media-breakpoint-down(xs)
			margin-bottom: 16px
			font-size: 16px
		&:focus
			border-radius: 3px
			border-color: $aqua-300
			box-shadow: 0 0 0 1px $aqua-300
			background-color: $white
	&-control
		height: 70px
		padding: 0 24px
		line-height: 70px
		+media-breakpoint-down(xs)
			height: 60px
			line-height: 60px
		&--number
			-moz-appearance: textfield
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button
				-webkit-appearance: none
				margin: 0
	&-textarea
		padding: 18px 24px
		resize: none
	&-submit
		width: 100%
		font-size: 18px
		+media-breakpoint-down(xs)
			font-size: 16px

	// Checkbox
	&-checkbox
		position: relative
		display: inline-flex
		flex-wrap: wrap
		align-items: center
		margin-top: 24px
		margin-bottom: 0
		input[type="checkbox"]
			position: absolute
			top: 0
			left: 3px
			opacity: 0
		span
			user-select: none
			position: relative
			width: 100%
			margin-bottom: 0
			padding-left: 32px
			color: $text-200
			font-size: 15px
			line-height: 20px
			text-align: left
			&::before,
			&::after
				content: ''
				flex: 0 0 auto
				position: absolute
				top: 0
				left: 0
				width: 20px
				height: 20px
				border-radius: 6px 0 6px 0
				border: 1px solid $border
				background-color: $white
				transition: border .3s ease, opacity .15s ease
			&::after
				border-color: $blue
				background: $blue url('../images/dist/icons/check.svg') no-repeat center/10px
				opacity: 0
			> a
				color: $blue
				font-weight: $w-medium
				&:hover
					color: $black
			&:hover
				cursor: pointer
				&::before,
				&::after
					border-color: $blue
		input:checked + span::after
			opacity: 1

	// Policy checkbox
	&-policy
		.form-checkbox > span
			+media-breakpoint-down(xs)
				font-size: 13px

	// Form errors
	&-error
		border-color: red
		&:focus
			border-color: red
			box-shadow: 0 0 0 1px red
		&-notice
			display: none
			position: relative
			top: -18px
			color: red
			font-size: 12px
			&._is-shown
				display: block

