@import '../helpers/helpers'

.modal
	padding-right: 0!important
	padding-left: 0!important
	&.fade
		.modal-dialog
			transform: scale(0.95)
		.modal-content::before
			top: -60px
			left: -60px
			opacity: 0
	&.show
		.modal-dialog
			transform: none
		.modal-content::before
			top: -85px
			left: -85px
			opacity: 1

	&-dialog
		+media-breakpoint-up(sm)
			max-width: 600px

	&-content
		border-radius: 64px 0 64px 0
		border: 0
		&::before
			content: ''
			position: absolute
			top: -85px
			left: -85px
			z-index: -1
			width: 168px
			height: 171px
			background: url('../images/dist/mint-leaves.png') no-repeat center/cover
			transition: .3s ease

	&-header
		align-items: center
		justify-content: center
		padding: 48px 64px 0
		border-bottom: 0

	&-title
		color: $blue
		font-size: 32px
		font-weight: $w-bold
		text-align: center

	&-close
		position: absolute
		top: 32px
		right: 24px
		min-width: auto
		width: auto
		height: auto
		padding: 4px
		border-radius: 0
		background-color: $trsp
		color: $aqua-300
		.icon
			flex: 0 0 auto
			width: 20px
			height: 20px
		&:hover,
		&:focus
			background-color: $trsp
			color: $blue

	// Modal body
	&-body
		padding: 48px 64px 64px

	&-descr
		font-size: 17px
