// Font sizes mixin
@mixin font-size($size)

	@if $size == 'xxl'
		font-size: 42px

	@else if $size == 'xl'
		font-size: 36px

	@else if $size == 'lg'
		font-size: 24px

	@else if $size == 'md'
		font-size: 20px

	@else if $size == 'sm'
		font-size: 18px

	@else if $size == 'xs'
		font-size: 16px